{%extends "awwards/base.html"%}
{% load crispy_forms_tags %} 
{% block content %} 
{% load static %} 
{% load bootstrap4 %}
<div class="login">
    <div class="container">

        <div class="row ">
            <div class="col-md-2 "></div>
            <div class="col-md-8 ">
                <div class="card " style="margin-top:6%; padding:20px ">
                    <div class="card-body ">
                        <h5 class="card-title "><a>Sign in to continue</a> <span style="float:right ">Not a member yet? <a
                                href="{% url 'signup' %} " class="text-info ">Register now</a></span></h5>
                        <div class="card-text loginForm ">
                            <form action="{% url 'login' %} " method="post" validate>
                                {% csrf_token%} {{ form|crispy}}
                                <div class="text-center ">
                                    <button type="submit" class="btn">Login</button>

                                </div>
                            </form>
                        </div>
                    </div>
                </div>

            </div>
            <div class="col-md-2 "></div>
        </div>

    </div>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
</div>
{%endblock%}