{% extends 'awwards/base.html' %}
{%load crispy_forms_tags%} 
{% block content %} 
{% load static %}
<div class="login">
    <div class="container">

        <div class="row ">
            <div class="col-md-2 "></div>
            <div class="col-md-8 ">
                <div class="card " style="margin-top:6%; padding:20px ">
                    <div class="card-body ">
                        <h5 class="card-title "><a>Create Account</a> <span style="float:right ">Already a member?
                                <a href="{% url 'awwardsapp:login' %} " class="text-info ">Login now</a></span></h5>
                        <div class="card-text loginForm ">
                            <form action="{% url 'awwardsapp:signup' %} " method="post" validate>
                                {% csrf_token%} {{ form}}
                                <div class="text-center ">
                                    <button type="submit " class="btn ">SignUp</button>
                                    <p class="text-center text-muted">By signing up, you agree to our <strong>Terms</strong> ,
                                        <strong>Data Policy</strong> and <strong>Policy </strong> .
                                    </p>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>

            </div>
            <div class="col-md-2 "></div>
        </div>

    </div>
    <br>
    <br>
    <br>
    <br>

</div>


{% endblock %}