<div id="main">
    <div id="header-top">
        <div class="box-left">
            <div class="item">
                <span class="h6 mb-o">
                <div id="english" class="text-muted"><u>ENGLISH</u></div>
            </span>
            </div>
        </div>
        <div class="box-center">

            <p class="slogan">The awards of design, creativity and innovation on the internet</p>

        </div>
        <div class="box-right">
            <span class="pull-right icons">
            <i class="fa fa-instagram" aria-hidden="true"></i>
            <i class="fa fa-twitter" aria-hidden="true"></i>
            <i class="fa fa-facebook" aria-hidden="true"></i>
        </span>
        </div>
    </div>

    {% extends 'awwards/base.html' %}
    {%load crispy_forms_tags%} 
    {% block content %}
    {{block.super}}

    <a href="{% url 'awwardsapp:rate' project_title='blog' %}">
        <div class="mostRated" style="margin-top:5%;background-image:url({{project_average.project.project_image.url}});">
            <div class="container mostRatedDetails">
                <div class="trending">
                    <br>
                    <br>
                    <p style="font-size:25px;"><strong>Highest rated: </strong>{{project_average.rated_at|date}}</p>
                </div>
                <div class="details text-center">
                    <p><span style="font-size :30px;"><strong>{{project_average.project.title|upper}}</strong></span><br> BY <strong>{{project_average.project.user.username|upper}}</strong> FROM <strong>{%if project_average.project.user.profile.location %} {{project_average.project.user.profile.location|upper}}
                        {%else%} UNDEFINED{%endif%}</strong> WITH {{project_average.score}}</p>
                </div>
                <div class="overlay2">
                    <div id="design">{{ project_average.design_average}}<br>
                        <span class="rates">design_average</span>
                    </div>
                    <div id="usable" class="mx-auto">{{ project_average.usability_average }}<br>
                        <span class="rates">usability_average</span>
                    </div>
                    <div id="contente">{{ project_average.content_average }}<br>
                        <span class="rates">content_average</span>
                    </div>
                    <div id="averagemax">{{ project_average.score }}<br>
                        <span class="rates">Average</span>
                    </div>

                </div>
                <div class="visitDetails">
                    <a href="{{project_average.project.project_url}}" target="_blank"><span style="float:left;" class="btn"> Visit Site </span></a>
                    <span style="float:right;font-size:25px;font-weight:900;">{{project_average.project.ratings.count}} Vote{{ratings.count|pluralize}}</span>
                </div>


            </div>

        </div>
    </a>

    <div class="container index ">
        <div class="submission mt-5">
            <h1>Nominees for Today <i class="fas fa-star"></i><i class="far fa-star"></i><i class="fas fa-star"></i></h1>
            <hr>
        </div>

        <div class="cardsIndex">

            {%for post in projects%}
            <div class="card mb-4" style="width: 35rem;padding:0;">
                <div class="card-img projectImage">
                    <img src="{{post.project_image.url}}" class="card-img1" style="width:100%;height:300px;">
                    <div class="overlay">
                        <div class="text">
                            <a href="{% url 'awwardsapp:rate' project_title=post.title %}">
                                <button class="rgba-white-slight btn" style="font-size: 20px;"> Vote</button>
                            </a>

                        </div>

                    </div>
                </div>
                <div class="card-body">
                    <div>
                        <span style="font: size 20px;font-weight:800;"><strong>Title: {{post.title|title}}</strong></span>
                        <span style="float:right"> <a href="{{post.project_url}}" target="_blank"> <i class="fa fa-share" style="color:black;font-size:20px;"></i></a></span>

                    </div>
                    <p class="text-center"> <strong>Description</strong>:<br>{{post.description}}</p>
                    <p></p>
                    <div>
                        <span><strong>From</strong> :{%if post.user.profile.location%} {{post.user.profile.location|title}} </span> {%else%} Undefined </span>{%endif%}
                        <span style="float:right;"> <strong>Uploaded On</strong> : {{post.pub_date|date}}</span>
                    </div>
                </div>
                <div class="card-footer" style="background-color:transparent;">
                    <div>
                        <a href="{% url 'awwardsapp:user_profile' post.user.username  %}">
                            <img src="{{post.user.profile.prof_pic.url}}" class="rounded-circle border ml-3 mt-2  mr-3" alt="{{prof_pic.user.user.username}}" width="35" height="35">
                            <span style="color:black;font-weight:bold">By: {{post.user.username|title}}</span>
                        </a>
                        <span style="float:right"><strong>Technologies</strong>: {{post.technologies}}</span>


                    </div>
                </div>

            </div>

            {%endfor%}

        </div>

    </div>
</div>
{%endblock%}